.form {
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: var(--normal-form-page-color, #d0d0d0);
}

.userStoryDescription {
    display: grid;
    grid-template-columns: 10rem auto 15rem;
    grid-column-gap: 0.7rem;
}

.userStoryExtraFields {
    display: grid;
    grid-template-columns: 3.5rem 8rem auto;
    grid-column-gap: 0.7rem;
}

.formRow + .formRow {
    margin-top: 0.7rem;
}

.actionButtonPanel {
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-column-gap: 0.4rem;
}

.centerCell {
    display: flex;
    align-items: center;
}
