.form {
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
}

.userStoryDescription {
    display: grid;
    grid-template-columns: 10rem auto 15rem;
    grid-column-gap: 0.7rem;
}

.userStoryExtraFields {
    display: grid;
    grid-template-columns: 3.5rem 8rem;
    grid-column-gap: 0.7rem;
}

.formRow + .formRow {
    margin-top: 0.7rem;
}
