.xsmall {
    font-size: var(--xsmall-font-size, 0.5rem);
}

.small {
    font-size: var(--small-font-size, 0.75rem);
}

.medium {
    font-size: var(--medium-font-size, 1rem);
}

.large {
    font-size: var(--large-font-size, 1.25rem);
}

.xlarge {
    font-size: var(--xlarge-font-size, 1.5rem);
}
