.component {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.component:not(.rightTopCaret) {
    flex-direction: column;
}

.component.rightTopCaret {
    flex-direction: row;
}

.triangle {
    width: 0;
    height: 0;
}

.component.topLeftCaret .triangle {
    position: absolute;
    left: 1rem;
    top: 0;
}

.component.bottomLeftCaret .triangle {
    position: absolute;
    left: 1rem;
    bottom: -0.5rem;
}

.component.topRightCaret .triangle {
    position: absolute;
    right: 1rem;
    top: 0;
}

.component.rightTopCaret .triangle {
    margin-top: 1.2rem;
    align-self: start;
}

.panel {
    background-color: var(--normal-form-page-color, #ddd);
    box-sizing: border-box;
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.4rem;
    min-width: 7.7rem;
    min-height: 3.3rem;
}

.component.topLeftCaret .panel {
    position: relative;
    top: 0.5rem;
}

.component.bottomLeftCaret .panel {
    position: relative;
    top: 0;
}

.component.topRightCaret .panel {
    position: relative;
    top: 0.5rem;
}

.component.bottomLeftCaret .panel {
    position: relative;
    top: 0;
}

.dark .panel {
    background-color: var(--normal-component-page-color, #ccc);
}

.component.topCenter .triangle,
.component.topLeftCaret .triangle,
.component.topRightCaret .triangle {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--normal-form-page-color, #ddd);
}

.component.dark.topCenter .triangle,
.component.dark.topLeftCaret .triangle,
.component.dark.topRightCaret .triangle {
    border-bottom: 0.5rem solid var(--normal-component-page-color, #ccc);
}

.component.rightTopCaret .triangle {
    order: 2;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--normal-form-page-color, #ddd);
}

.component.dark.rightTopCaret .triangle {
    border-bottom: 0.5rem solid var(--normal-component-page-color, #ccc);
}

.component.bottomLeftCaret .triangle {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid var(--normal-form-page-color, #ddd);
}

.component.bottomLeftCaret.dark .triangle {
    border-top: 0.5rem solid var(--normal-component-page-color, #ccc);
}

.component:not(.rightTopCaret) .triangle {
    order: 1;
}

.component:not(.rightTopCaret) .panel {
    order: 2;
    width: 100%;
}

.component.rightTopCaret .panel {
    order: 1;
}

.light {
    /* not used because the default is "light", but may use in future */
}
