.form {
    padding: 0.7rem;
    background-color: var(--normal-form-page-color, #ddd);
    animation-duration: 0.2s;
    animation-name: rotateIn;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: center top;
}

.form.readOnly {
    background-color: var(--normal-form-page-readonly-color, #e8e8e8); /* #202020 for dark mode */
}
