.button {
    align-items: center;
    background-color: var(--normal-page-color, white);
    border: 0.125rem solid var(--normal-pen-color, black);
    cursor: pointer;
    display: inline-flex;
    padding: 0.3rem 0.4rem 0.3rem 0.8rem;
    user-select: none;
}

.button:focus {
    background-color: var(--normal-focus-page-color, "#eee");
    outline: 0;
}

.button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 var(--normal-hover-shadow-size) var(--normal-hover-shadow);
}

.button:active {
    background-color: var(--normal-active-page-color, "#ddd");
}

.buttonCaption {
    color: var(--normal-pen-color);
    font-size: var(--medium-font-size, 0.95rem);
    font-weight: var(--primary-bold-font-weight, 700);
    text-transform: uppercase;
}

.buttonCaption + .buttonIcon {
    padding-left: 0.4rem;
}

.buttonIcon {
    display: inline-flex;
}

.buttonIcon > * {
    height: 1.9rem;
    width: 1.9rem;
}

.buttonIcon * {
    font-size: 1px;
}
