.backlogItemPlanningPanel {
    padding: 0.5rem 0.6rem;
    perspective: 2000px;
}

.backlogItemPlanningActionPanel {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 0.4rem;
    padding-bottom: 0.5rem;
}

.embeddedBacklogItemPlanningActionPanel {
    padding-top: 0.5rem;
}

.backlogItemUserStoryFormRow {
    margin-bottom: 0.5rem;
}

.embeddedBacklogItemUserStoryFormRow {
    margin-top: 0.5rem;
}

.mobile {
}
