:global(.os-windows) .bottomPanel {
    width: calc(100% - 7rem);
}

.bottomPanel {
    height: 2rem;
    border-top: 1px solid var(--normal-divider-color, #f4f4f4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.innerPanel {
    width: 100%;
    height: 100%;
    display: flex;
}

.projectPickerPanel {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
}

.projectIcon,
.menuCaretIcon {
    width: 1.3rem;
    height: 1.3rem;
}

.projectPickerMenu {
    position: relative;
    left: -2.15rem;
    bottom: 5.9rem;
}
