:global(.os-windows) .topMenuPanel {
    width: calc(100% - 7rem);
}

.topMenuPanel {
    display: flex;
    border-bottom: 1px solid var(--normal-divider-color, #f4f4f4);
}

.fillSpaceAvailable {
    flex-grow: 1;
}

.electronDragPanel {
    -webkit-app-region: drag;
}

.actionButtonPanel {
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
}
