.dividerLine {
    font-size: 0;
    height: 0.0625rem; /* TODO: Move to vars */
    margin-bottom: 0.0625rem; /* TODO: Move to vars */
}

.dividerLine.highlighted {
    background-color: #0c0; /* TODO: Use theme */
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='10'><rect x='0' y='0' width='3' height='10' fill='black' /></svg>");
    mask-repeat: repeat;
}

.dividerLine.hidden {
    display: none;
}
