.button {
    align-items: center;
    background-color: var(--inverted-page-color, black);
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem 0.85rem 0.5rem 0.7rem;
    user-select: none;
}

.button:focus,
.buttonFocus {
    background-color: var(--inverted-focus-page-color, #444);
    outline: 0;
}

.button:hover,
.buttonHover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset,
        0 0 var(--normal-hover-shadow-size, 0.6rem) var(--normal-hover-shadow, rgba(0, 0, 0, 0.4));
}

.button:active,
.buttonActive {
    background-color: var(--inverted-active-page-color, #555);
}

.buttonCaption {
    color: var(--inverted-pen-color, white);
    font-size: var(--large-font-size, 1.25rem);
    font-weight: var(--primary-bold-font-weight, 600);
}

.app.buttonCaption {
    display: none;
}

.buttonIcon + .buttonCaption {
    padding-left: 0.5rem;
}

.buttonIcon {
    display: inline-flex;
}

.buttonIcon > * {
    height: 1.9rem;
    width: 1.9rem;
}

.buttonIcon * {
    font-size: 1px;
}
