.itemDetailButton {
    overflow: hidden;
}

.itemDetailButton svg {
    width: 1.3rem;
    height: 1.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.smartSpinner {
    min-width: 1.3rem;
    min-height: 1.3rem;
}
