.button {
    align-items: center;
    background-color: var(--normal-page-color, white);
    border: 0.125rem solid var(--normal-pen-color, black);
    cursor: pointer;
    display: inline-flex;
    user-select: none;
    padding: 0.3rem;
    overflow: hidden;
}

.button:not(.suppressSpacing) + .button:not(.suppressSpacing) {
    margin-left: 0.3rem;
}

.button.iconOnLeft {
    padding-right: 0.8rem;
}

.button.iconOnRight {
    padding-left: 0.8rem;
}

.button:focus {
    background-color: var(--normal-focus-page-color, "#eee");
    outline: 0;
}

.button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 var(--normal-hover-shadow-size) var(--normal-hover-shadow);
}

.button:active {
    background-color: var(--normal-active-page-color, "#ddd");
}

.buttonCaption {
    color: var(--normal-pen-color);
    font-size: var(--small-font-size, 0.75rem);
    font-weight: var(--primary-bold-font-weight, 600);
    text-transform: uppercase;
}

.buttonCaption.noWrap {
    white-space: nowrap;
}

.buttonCaption + .buttonIcon {
    padding-left: 0.3rem;
}

.buttonIcon + .buttonCaption {
    padding-left: 0.4rem;
}

.buttonIcon {
    display: inline-flex;
}

.buttonIcon > * {
    height: 1.425rem;
    width: 1.425rem;
}

.buttonIcon * {
    font-size: 1px;
}

.spinner {
    padding: 0.15rem 0.25rem 0.15rem 0.75rem;
}

.spinnerShape {
    width: 0.8rem;
    height: 0.8rem;
}

.button.iconOnLeft .spinner {
    padding: 0.15rem 0.75rem 0.15rem 0.25rem;
}

.button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.button:not(.disabled) {
    cursor: pointer;
}
