.content {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.backlog,
.sprints {
    flex-grow: 1;
    width: 50%;
}

.fullPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.noContentMsg {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    padding: 1.5rem;
}

:global(.mobile) .noContentMsg {
    text-align: center;
}
