.backlogItemCard {
    display: flex;
    height: 2rem;
}

.backlogItemCard.mobile {
    height: auto;
    flex-wrap: wrap;
}

.backlogItemCard > * {
    line-height: 1.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.backlogItemCard + .backlogItemCard {
    margin-top: 0.1875rem;
}

.backlogItemType {
    padding-left: 0.3rem; /* TODO: Use constants??? */
    padding-right: 0.3rem; /* TODO: Use constants??? */
    display: flex;
    flex-grow: 0;
    color: var(--inverted-pen-color, white);
    background-color: var(--inverted-page-color, black);
    min-width: 5rem; /* TODO: Use constants/theme?? */
    align-items: center;
    user-select: none;
    order: 0;
}

.backlogItemText {
    color: var(--normal-pen-color, black);
    padding-left: 0.25rem; /* TODO: Use constants??? */
    padding-right: 0.25rem; /* TODO: Use constants??? */
    flex-grow: 1;
    border-top: 0.0625rem solid var(--normal-light-border-color, #ccc); /* TODO: Use constants??? */
    border-right: 0.0625rem solid var(--normal-light-border-color, #ccc); /* TODO: Use constants??? */
    border-bottom: 0.0625rem solid var(--normal-light-border-color, #ccc); /* TODO: Use constants??? */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    order: 1;
}

.backlogItemCard.mobile .backlogItemText {
    white-space: normal;
    order: 2;
    height: 4.15rem;
    flex-basis: 100%;
    border-left: 0.0625rem solid var(--normal-light-border-color, #ccc); /* TODO: Use constants??? */
}

.backlogItemEstimate {
    text-align: center;
    min-width: 2rem; /* TODO: Use constant */
    background-color: var(--inverted-page-color, black);
    color: var(--inverted-pen-color, white);
    user-select: none;
    order: 2;
}

.backlogItemCard.mobile .backlogItemEstimate {
    order: 1;
    flex-grow: 1;
    text-align: right;
    padding-right: 0.6rem;
}

.backlogItemIcon {
    line-height: 0;
    flex-grow: 0;
}

.backlogItemIcon svg {
    width: 1.3rem;
    height: 1.3rem;
}

.backlogItemId {
    padding-left: 0.375rem;
    flex-grow: 1;
    text-align: center;
}

.backlogItemDragButton {
    width: 2rem;
    opacity: 0.3;
    cursor: grab;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    order: 3;
}

.backlogItemDragButton svg {
    width: 1.3rem;
    height: 1.3rem;
}
