.row {
    display: table-row;
}

.prevCell,
.nextCell {
    display: table-cell;
    font-family: monospace;
    padding: 0.1rem 0.3rem;
}

.prevCell {
    background-color: #888;
    color: #fff;
    font-weight: var(--primary-light-bold-font-weight, 500);
}

.nextCell {
    background-color: #eee;
    color: #aaa;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}
