.fill {
    fill: var(--normal-pen-color, black);
}

.fillInverted {
    fill: var(--normal-page-color, white);
}

.strokeInverted {
    stroke: var(--normal-page-color, white);
}

.stroke {
    stroke: var(--normal-pen-color, black);
}
