.mobile {
}

.sprintPlanningPanel {
    padding: 0.5rem 0.4rem 0.5rem 0.2rem;
    flex-grow: 1;
    width: 50%;
    max-width: 35rem;
}

.sprintPlanningActionPanel {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 0.4rem; /* TODO: Move to vars */
    padding-bottom: 0.5rem; /* TODO: Move to vars */
}
