.sprintPlanningPanel {
    padding: 0.5rem 0.4rem 0.5rem 0.2rem;
    flex-grow: 1;
    width: 50%;
    max-width: 35rem;
    box-sizing: border-box;
}

.sprintPlanningActionPanel {
    display: grid;
    grid-template-columns: max-content auto; /* make second column fill remaining space */
    grid-column-gap: 0.4rem; /* TODO: Move to vars */
}

:global(.mobile) .sprintPlanningActionPanel {
    grid-template-columns: max-content;
    grid-row-gap: 0.3rem;
}

.sprintPlanningActionPanel.topPanel {
    padding-bottom: 0.5rem; /* TODO: Move to vars */
}

.sprintPlanningActionPanel.bottomPanel {
    padding-top: 0.5rem; /* TODO: Move to vars */
}

.topSpacingAboveForm {
    margin-top: 0.5rem; /* TODO: Move to vars */
}

.sprintName {
}

.actionButtonPanel {
}

:global(.mobile) .includeArchivedCheckbox {
    margin-left: -0.5rem;
    justify-self: auto;
    margin-right: 0;
}

.includeArchivedCheckbox {
    display: flex;
    align-items: center;
    justify-self: right;
    margin-right: 0.6rem;
}
