.page {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form {
    display: grid;
    grid-template-rows: auto 10rem auto;
    height: 100%;
}

.spacedRow {
    display: grid;
    grid-template-columns: auto 20rem auto;
}
