/* right */

.backlogItemPlanningPanel {
    padding: 0.5rem 0.2rem 0.5rem 0.4rem; /* TODO: Move to vars, note that 0.4rem is really computed as 0.7rem - 0.3rem */
    perspective: 2000px;
    box-sizing: border-box;
}

.backlogItemPlanningActionPanel {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 0.4rem; /* TODO: Move to vars */
    padding-bottom: 0.5rem; /* TODO: Move to vars */
    margin-left: 0.3rem; /* TODO: Move to vars */
}

:global(.mobile) .backlogItemPlanningActionPanel {
    grid-template-columns: max-content;
    grid-row-gap: 0.3rem;
}

.embeddedBacklogItemUserStoryFormRow {
    margin-top: 0.5rem; /* TODO: Move to vars */
}
